<h3>Atualizar Varios</h3>

<mat-form-field class="w-100" appearance="fill">
  <mat-label>Vencimento</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="validade"> <!-- (dateChange)="formatDate($event)" -->
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="validade">Confirmar</button>
</div>
